<div fxLayout="column">
    <div>
        <h1>Buscador de Héroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Buscador</h3>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Héroe</mat-label>
            <input type="text"
                   placeholder="Ingresa el nombre"
                   aria-label="Héroe"
                   matInput
                   [(ngModel)]="termino"
                   (input)="buscando()"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="heroeSeleccionadoChanged($event)">
              <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                {{ heroe.superhero }}
              </mat-option>
              <mat-option [value]="" *ngIf="heroes.length == 0 && termino">
                No se encontraron coincidencias con el termino {{ termino }}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div>
        <pre>{{ heroeSeleccionado | json }}</pre>
    </div>
</div>
